extends layout

block content
    
    .about
        h3.h1.font-weight-bold About Us
        .row
            .col-lg-7
                p(style='line-space:5px;') Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus praesentium a incidunt inventore animi deleniti officia, temporibus dicta nesciunt. Laborum rerum enim recusandae laudantium deleniti iusto sed doloribus ratione veniam quod pariatur, fugiat optio vel praesentium assumenda ducimus quisquam modi ut laboriosam at perferendis repellendus voluptate ipsa! Animi veniam voluptatum iure cum esse fuga quam pariatur ratione, porro, ex tenetur molestias qui neque cumque rem magni tempora veritatis aliquam numquam assumenda. Laborum quasi modi, quaerat autem voluptate adipisci commodi maiores eum asperiores fugiat? Repudiandae est exercitationem, pariatur nemo amet commodi quos cumque impedit sit laudantium nulla, labore molestiae rerum ea dolores, sunt placeat laborum explicabo natus omnis qui! Animi quaerat id fuga voluptatibus, quod esse enim beatae impedit aliquid labore natus consectetur? Magni optio aliquid tenetur cumque molestiae, distinctio maiores. Corporis sapiente veniam odio obcaecati tenetur praesentium molestias quod nisi delectus natus veritatis expedita dolor ex quasi, sint iure libero! Nisi tempore esse neque, blanditiis voluptate autem, fugit modi, vero ipsum sunt officiis nulla aspernatur deserunt. Optio eum impedit ullam officiis quae necessitatibus sit quas, possimus temporibus voluptates itaque quaerat suscipit obcaecati minima excepturi beatae. Eum quisquam atque at. Dolor reprehenderit praesentium unde at. Porro ipsum nam hic quos error consequatur qui ex, impedit saepe accusantium velit, neque repellendus quas vel excepturi perspiciatis tempora? Aliquam repellat numquam enim at commodi. Illum vero odit assumenda suscipit praesentium recusandae quasi quibusdam facere nam veniam officiis, iste aspernatur, adipisci ducimus natus iure a cum aliquam laudantium nostrum atque saepe, autem deserunt delectus? Exercitationem.
            .col-lg-1
            .col-lg-4.md
                img(src="/img/galery/12.jpg", alt="12.jpg", style='width:100%; min-height:200px;padding:10px')
                img(src="/img/galery/23.jpg", alt="2.jpg", style='width:100%; min-height:200px;padding:10px')
                img(src="/img/galery/33.jpg", alt="3.jpg", style='width:100%; min-height:200px;padding:10px')
                
            