doctype html
html(lang='en')
  head 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
        
    link(rel='stylesheet', href='path/to/font-awesome/css/font-awesome.min.css')
      
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')

    link(rel='stylesheet', href='/css/style.css')
    
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href='/') Home
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/home/about') About Us
          li.nav-item
            a.nav-link(href='/home/serves') Our Serves
          li.nav-item
            a.nav-link(href='/home/pormotion') Pormotion
          li.nav-item
            a.nav-link(href='/home/contact') Contact
          li.nav-item
            a.nav-link(href='/home/galery') Galery
    .container 
      block content


          
      
    
    footer
      .row
        .col-md-6 Copy Right &copy; 2018  
          span.ahmed with 
            i.fa.fa-heart 
            |  by Ahmed Diab
          
        .col-md-6
          a.face(href='#')
            i.fab.fa-facebook.fa-2x
          a.googel-plus(href='#')
            i.fab.fa-google-plus.fa-2x
          a.twet(href='#')
            i.fab.fa-twitter.fa-2x
          a.linked(href='#')
            i.fab.fa-linkedin.fa-2x
          a.you(href='#')
            i.fab.fa-youtube.fa-2x

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(src='/js/js.js')