.row.info
    .col-lg-4.col-md-6
        a.nav-item.btn.bg-success(href='/ourserves/sea-tripes') sea ​​tripes
    .col-lg-4.col-md-6
        a.nav-item.btn.bg-success(href='/ourserves/cultural-tripes') Cultural trips
    .col-lg-4.col-md-6
        a.nav-item.btn.bg-success(href='/ourserves/inside-city') Inside City